@import "./src/assets/styles/_variables";

$sidebar_size: 400px;
$sidebar_size_mobile: 160px;

:host {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  height: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  background-color: $light-gray;
  position: relative;
}

.map-info {
  .map-info--main {
    .user-list_user {
      &::after {
        content: none;
      }
    }
  }
}

.help_message {
  position: absolute;
  top: 0; bottom: 0;
  left: 100px; right: $sidebar_size;
  z-index: 2000;
  // background-color: adjust-color($color: $white, $alpha: -0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mobile {
    right: $sidebar_size_mobile;
    left: 50px;
  }
}

.help_message__info {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: $xs;
  padding: 20px;
  background-color: adjust-color($color: $white, $alpha: -0.0);


}

.help_message__arrow_to-- {

}
.map_help_info {

  &::before, &::after {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: absolute;
    top: 1em;
    z-index: 1500;

    font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
    font-weight: 900;
    font-size: 3em;
    color: $black;
    text-shadow: 0px 0px 2px $white;

    animation-duration: 1.5s;
    animation-iteration-count: infinite;

    @include mobile {
      font-size: 2em;
    }
  }
  &::before {
    left: 0em;
    content: '\f061';
    animation-name: map_help_info__before;
  }

  &::after {
    right: 0em;
    content: '\f060';
    animation-name: map_help_info__after;
  }
}

@keyframes map_help_info__before {
  0% { left: -1em; }
  75% { left: 0em; }
  100% { left: -1em; }
}
@keyframes map_help_info__after {
  0% { right: -1em; }
  75% { right: 0em; }
  100% { right: -1em; }
}
.user_list_help_info {
  position: relative;

  &::before, &::after {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: absolute;
    left: 1em;
    z-index: 1500;

    font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
    font-weight: 900;
    font-size: 2em;
    color: $black;
    text-shadow: 0px 0px 2px $white;

    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: user_list_help_info;

    @include mobile {
      font-size: 1em;
    }
  }
  &::before {
    top: -1em;
    content: '\f063';
  }

  &::after {
    bottom: -1em;
    content: '\f062';
  }
}

@keyframes user_list_help_info {
  0% { left: 1em; }
  75% { left: 4em; }
  100% { left: 1em; }
}

