<div class="user_info" *ngIf="userInfo">
  <div class="user_info__name user_info__name--{{userInfo.color}}">
    <h2>{{user.name}}</h2>
  </div>
  <h3>Армия ({{userInfo.army.length}}/{{effect.maxArmy}}):</h3>
  <div class="user_info__army">
    <app-game-unit
      *ngFor="let unit of userInfo.army"
      [unit]="unit"
      [userColor]="userInfo.color"
    ></app-game-unit>
    <div
      class="user_info__army-take_unit_event"
      *ngIf="takeUnitEvent"
      (click)="takeUnit.emit(takeUnitEvent)"
    ></div>
  </div>
</div>
