@import "./src/assets/styles/_variables";

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 4px;
}

.user_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.user_info__name {
  position: relative;
}

.user_info__army {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
