@import "./src/assets/styles/_variables";

$height: 100px;
$width: 84px;

$height_mobile: 56px;
$width_mobile: 44px;

:host {
  display: block;
  height: $height;
  width: $width;
  margin: 4px;

  @include mobile {
    height: $height_mobile;
    width: $width_mobile;
  }
}

.unit {
  height: 100%;
  width: 100%;
  border: 2px solid $black;
  border-radius: 4px;
  position: relative;
  @include mobile {
    border-width: 1px;
  }
}

.unit-power {
  position: absolute;
  line-height: 22px;
  top: 2px; height: 20px;
  left: 2px; width: 20px;
  font-size: 12px;
  background-color: $black;
  text-align: center;
  color: $white;
  border-radius: 50%;

  @include mobile {
    line-height: 14px;
    top: 1px; height: 12px;
    left: 1px; width: 12px;
    font-size: 9px;
  }
}

.unit-power-bonus {
  left: auto;
  right: 2px;

  @include mobile {
    left: auto;
    right: 1px;
  }
}

.unit-img {
  background-color: $gray;
  height: $width - 4;
  width: $width - 4;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 8px;

  @include mobile {
    height: $width_mobile - 2;
    width: $width_mobile - 2;
    padding: 4px;
  }
}

@for $i from 0 through length($colors) - 1 {
  $color: nth($colors, $i + 1);
  $color-name: nth($colors-name, $i + 1);

  .unit-img--color-#{$color-name} {
    background-color: $color;
  }
}

.unit-img-type {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.unit-img-type--Archer {
  background-image: url('/assets/icons/bow-and-arrow.png');
}
.unit-img-type--Swordsman {
  background-image: url('/assets/icons/swords.png');
}
.unit-img-type--Rider {
  background-image: url('/assets/icons/helmet.png');
}

.unit-type {
  background-color: $black;
  color: $white;
  height: 16px;
  line-height: 18px;
  font-size: 14px;
  text-align: center;
  width: $width - 4;

  @include mobile {
    height: 12px;
    line-height: 14px;
    font-size: 10px;
    width: $width_mobile - 2;
  }
}
