<small>Осталось свободных замков: <strong>{{effect.emptyCastle}}</strong></small>
<small>Максимальный рамер армии: <strong>{{effect.maxArmy}}</strong></small>
<small>Бонус получают: <strong>{{effect.unitTypeBonus ? typeRus[effect.unitTypeBonus] : 'Никто'}}</strong></small>
<small>Количество тёмных веков: <strong>{{effect.deathCount}}/{{effect.maxDeathCount}}</strong></small>
<div class="mana_list">
  <div class="mana" [class.mana_active]="effect.nextEffect >= 1"></div>
  <div class="mana" [class.mana_active]="effect.nextEffect >= 2"></div>
  <div class="mana" [class.mana_active]="effect.nextEffect >= 3"></div>
  <div class="mana" [class.mana_active]="effect.nextEffect >= 4"></div>
</div>
<div class="periods_info">
  <div class="periods_info__deck" title="Осталось {{deckPeriodEffects.length}}"
    [class.periods_info__deck--last]="deckPeriodEffects.length === 1"
    [class.periods_info__deck--empty]="deckPeriodEffects.length === 0"
  ></div>
  <div *ngFor="let card of deckOldEffects; let i = index"
    class="
      periods_info__card
    "
    [class.periods_info__card--2]="i > 0"
    [class.periods_info__card--3]="i > 1"
  >
    <div *ngIf="currentPeriodEffects">
      <p class="title">{{card.title}}</p>
      <p class="description">{{card.description}}</p>
    </div>
  </div>
</div>
