@import "./src/assets/styles/_variables";

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 4px;

  p {
    margin-bottom: .2em;
  }
}

.mana_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 8px;

  @include mobile {
    margin: 2px 0 4px;
  }

  .mana {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: adjust-color($blue, $alpha: -0.7);
    box-shadow: 1px 1px 2px adjust-color($black, $alpha: -0.4);
    margin: 0 4px;

    @include mobile {
      height: 6px;
      width: 6px;
    }

    &.mana_active {
      background-color: $blue;
      box-shadow: 2px 2px 4px $black;
    }
  }
}

$height: 200px;
$width: 160px;

$height_mobile: 72px;
$width_mobile: 58px;

.periods_info {
  padding-bottom: 8px;
  margin: 0 16px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;

  @include mobile {
    padding-bottom: 4px;
    margin: 0 8px;
  }
}

.periods_info__deck {
  flex-shrink: 0;
  height: $height;
  width: $width;
  background-image: url('/assets/img/period_deck_back.png');
  background-repeat: repeat;
  background-position: bottom;
  border-radius: 4px;
  position: relative;
  box-shadow: 2px 2px 4px $black;
  background-color: $gray;

  @include mobile {
    height: $height_mobile;
    width: $width_mobile;
    background-size: cover;
  }

  &::before {
    position: absolute;
    bottom: -2px;
    right: -3px;
    z-index: -1;
    content: "";
    height: $height;
    width: $width;
    background-image: url('/assets/img/period_deck_back.png');
    background-repeat: repeat;
    background-position: bottom;
    border-radius: 4px;
    box-shadow: 1px 2px 4px $black;
    @include mobile {
      height: $height_mobile;
      width: $width_mobile;
    }
  }

  &::after {
    position: absolute;
    bottom: -4px;
    right: -5px;
    z-index: -2;
    content: "";
    height: $height;
    width: $width;
    background-image: url('/assets/img/period_deck_back.png');
    background-repeat: repeat;
    background-position: bottom;
    border-radius: 4px;
    box-shadow: 1px 1px 2px $black;
    @include mobile {
      height: $height_mobile;
      width: $width_mobile;
    }
  }

  &.periods_info__deck--last {
    &::before,
    &::after {
      content: none;
    }
  }
  &.periods_info__deck--empty {
    border: 2px dashed $black;
  }
}

.periods_info__card {
  height: $height;
  width: $width;
  background-image: url('/assets/img/period_deck_front.png');
  background-repeat: repeat;
  background-position: bottom;
  border-radius: 4px;
  box-shadow: 2px 2px 4px $black;
  padding: 20px;
  
  position: absolute;
  top: 0;
  left: $width + 20;
  animation-duration: 0.4s;
  animation-name: cardup;
  
  @include mobile {
    height: $height_mobile;
    width: $width_mobile;
    background: $white-force;
    padding: 2px;
    left: $width_mobile + 20;
  }

  &::before, &::after {
    position: absolute;
    content: none;
    height: $height;
    width: $width;
    background-color: $white-force;
    border-radius: 4px;

    @include mobile {
      height: $height_mobile;
      width: $width_mobile;
    }
  }
  &::before {
    bottom: -2px;
    right: -4px;
    z-index: -1;
    box-shadow: 1px 2px 4px $black;
  }
  &::after {
    bottom: -4px;
    right: -6px;
    z-index: -2;
    box-shadow: 1px 1px 2px $black;
  }

  &.periods_info__card--2 {
    // position: relative;
    &::before {
      content: "";
    }
  }
  &.periods_info__card--3 {
    // position: relative;
    &::after {
      content: "";
    }
  }

  .title {
    font-size: 14px;
    font-weight: 400;
    color: $dark-primary;
    border-bottom: 1px solid black;

    @include mobile {
      font-size: 8px;
      line-height: 10px;
      font-weight: 500;
    }
  }

  .description {
    font-size: 12px;
    font-weight: 600;

    @include mobile {
      font-size: 8px;
      line-height: 8px;
      font-weight: 400;
    }
  }
}

@keyframes cardup {
  from {
    position: absolute;
    left: 0;
    margin-right: $width;
    color: $white-force;

    @include mobile {
      margin-right: $width_mobile;
    }
  }

  to {
    left: $width + 20;
    color: $black;

    @include mobile {
      left: $width_mobile + 20;
    }
  }
}
