<h1 mat-dialog-title>Изменить отряд защиты</h1>
<div mat-dialog-content>
  <app-battlefield
    [effect]="data.effect"
    [army]="army"
    [units]="units"
    [color]="data.data.color"
    [isUser]="true"
  ></app-battlefield>
</div>
<div mat-dialog-actions>
    <button type="button" tabindex="1" cdkFocusInitial class="btn btn-success"
    (click)="onSubmit()"
  >
    <div class="btn-content">Изменить ({{power}})</div>
  </button>
  <button type="button" tabindex="2" class="btn btn-danger"
    (click)="onCancel()"
  >
    <div class="btn-content">Отмена</div>
  </button>
</div>
