<h1 mat-dialog-title>Атака замок противника</h1>
<p>
    Разведчики насчитали на защите замка {{data.tile.castleInfo.units.length}} вражеских юнитов.
    Сформируйте свой отряд для захвата замка.
</p>
<div mat-dialog-content>
  <app-battlefield
    [effect]="data.effect"
    [army]="army"
    [units]="units"
    [color]="data.data.color"
    [isUser]="false"
  ></app-battlefield>
</div>
<div mat-dialog-actions>
    <button type="button" tabindex="1" cdkFocusInitial class="btn btn-success"
    (click)="onSubmit()"
  >
    <div class="btn-content">Начать атаку ({{power}})</div>
  </button>
  <button type="button" tabindex="2" class="btn btn-danger"
    (click)="onCancel()"
  >
    <div class="btn-content">Отмена</div>
  </button>
</div>
