@import "./src/assets/styles/_variables";

$sidebar_size: 400px;
$sidebar_size_mobile: 160px;

:host {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  height: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  background-color: $light-gray;
  position: relative;
}
