<h1 mat-dialog-title>Защита от нападения</h1>
<p>
  Разведчики насчитали {{data.data.attackUnits.length}} вражеских юнитов.
  Сформируйте отряд для защиты.
</p>
<div mat-dialog-content>
  <app-battlefield
    [army]="army"
    [units]="units"
    [color]="data.data.color"
    [isUser]="true"
  ></app-battlefield>
</div>
<div mat-dialog-actions>
    <button type="button" tabindex="1" cdkFocusInitial class="btn btn-success"
    (click)="onSubmit()"
  >
    <div class="btn-content">Защититься</div>
  </button>
  <button type="button" tabindex="2" class="btn btn-danger"
    (click)="onCancel()"
  >
    <div class="btn-content">Отмена</div>
  </button>
</div>
