$xxs: 480px;
$xs: 800px;
$small: 1000px;
$middle: 1200px;
$large: 1400px;

@mixin mobile-browser {
  @media (max-width: $xxs) { @content; }
}
@mixin mobile {
  @media (max-width: $small) { @content; }
  @media (display-mode: fullscreen ) and (max-width: $small) { @content; }
}
@mixin tablet {
  @media (min-width: $small) { @content; }
  @media (display-mode: fullscreen ) and (min-width: $small) { @content; }
}
@mixin smallscreen {
  @media (min-width: $middle) { @content; }
  @media (display-mode: fullscreen ) and (min-width: $middle) { @content; }
}

