@charset "UTF-8";

@import "~bootstrap/scss/functions";
@import "assets/styles";
@import "~bootstrap/scss/bootstrap";
@import '~@angular/material/theming';
@import "~@ng-select/ng-select/scss/default.theme.scss";


:root {
  --battlefield-size: max(100vh, calc(100vw - 500px));
}


/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background: $light-primary;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $light-gray, $light-primary);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $light-gray, $light-primary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



