@import "./src/assets/styles/_variables";

.btn {
  width: 100%;
  margin: 0 4px;
}

.battlefield_container {
    width: 620px;
    max-width: 100%;
    margin: 0 0 25px 0;
    display: inline-block;
    vertical-align: top;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    @include mobile {
        width: 100%;
        margin: 0 0 10px 0;
    }
}

.container_title {
    font-weight: 600;

    @include mobile {
        line-height: 14px;
        font-size: 12px;
        font-weight: 600;
    }
}

.battlefield_list {
    border: solid 1px $gray;
    min-height: 140px;
    width: 600px;
    border-radius: 4px;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    @include mobile {
        width: 100%;
        min-height: 82px;
    }
}

.battlefield_list--attack {
    background-color: $white;
    background-image: url('/assets/img/bgc_grass_revers.png');
    background-repeat: repeat;
    background-position: bottom;
    padding-bottom: 16px;
    @include mobile {
        padding-bottom: 10px;
    }
}

.battlefield_list--defense {
    background-color: $green;
    background-image: url('/assets/img/bgc_grass.png');
    background-repeat: repeat;
    background-position: top;
    align-items: flex-end;
    padding-top: 32px;
    @include mobile {
        padding-top: 10px;
    }
}


.game-unit--death {
    position: relative;
    &::before {
        display: flex;
        justify-content: center;
        align-items: center;
    
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        z-index: 1;

        content: "\f714";
        font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
        font-weight: 900;
        font-size: 2em;
        color: $red;
        text-shadow: 0px 0px 4px $white;
        background-color: adjust-color($color: $gray, $alpha: -0.5);

        
        @include mobile {
            font-size: 1.25em;
        }
    }
}