
<header class="auth-header d-flex justify-content-center align-items-center">
    <a class="logo" [routerLink]="['/']">
        <span>Castles</span>
    </a>
</header>
<section class="menu-content shadow-sm">
  <h3>Правила</h3>


  <h4>Основные правила игры «ЗАМКИ»</h4>
  <p>Игровое поле может быть двух типов:</p>
  <ul>
    <li>6X6 (5 замка, рекомендовано играть от 2 до 6 игроков);</li>
    <li>9X9 (8 замков, рекомендовано играть от 6 до 9 игроков).</li>
  </ul>
  <p>
    <strong>Цель игры захватить все замки на поле.</strong>
    Побеждает тот, кто успел захватить все замки, до того как вышла последняя карта тёмных веков, или тот кто владеет большим количеством замков.
  </p>
  <h4>Начало игры</h4>
  <p>
    Каждый игрок по очереди выбирает начальное расположение войска, и получают два боевых юнита.
  </p>
  <div class="spotlight-group my-group">
    <a class="spotlight" href="/assets/help/create_game_6.gif"
    data-title="Первый игрок"
    data-description="Выбирает начальное расположение войска"
    >
      <img src="/assets/help/create_game_6.gif" alt="">
    </a>
    <a class="spotlight" href="/assets/help/create_game_7.gif"
    data-title="Второй игрок"
    data-description="Выбирает начальное расположение войска"
    >
      <img src="/assets/help/create_game_7.gif" alt="">
    </a>
  </div>
  <p>
    Базовый размер войска не может превышать <strong>6</strong> юнитов. В течение игры войско может
    опуститься до нуля. В случае если у игрока войско равно <strong>0</strong> и нет захваченных замков,
    то игрок выбывает из игры, так он больше не может усиливать своё войско.
    Из боевых юнитов можно будет формировать отряды.
    Размер отряда не может превышать <strong>6</strong> юнитов.
  </p>
  <h4>Ход игрока</h4>
  <p>
    В теории игрок может делать два действия: <strong>усилить войско</strong> или <strong>передвинуться на соседнюю клетку</strong>.
  </p>
  <p>
    <strong>Усилить войско</strong> можно только находясь в замке.
  </p>
  <div class="spotlight-group">
    <a class="spotlight" href="/assets/help/game_take_unit.gif"
    data-title="Действие 'Усилить войско'"
    data-description="Усилить войско можно только находясь в замке"
    >
      <img src="/assets/help/game_take_unit.gif" alt="">
    </a>
  </div>
  <p>
    По факту, действие <strong>передвинуться на соседнюю клетку</strong> включает в себя еще 4 действия:
  </p>
  <ol>
    <li>Если это пустая клетка, то просто займите новое положение;</li>
    <li>Если это пустой замок, то нужно сформировать отряд для защиты замка;</li>
    <li>Если это замок другого игрока, то нужно сформировать отряд и напасть на игрока;</li>
    <li>Если на этой клетке находится другой игрок, то нужно сформировать отряд и напасть на него.</li>
  </ol>
  <div class="spotlight-group">
    <div class="my-group">
      <a class="spotlight" href="/assets/help/game_move.gif"
      data-title="Действие 'передвинуться на соседнюю клетку'"
      data-description="Если это пустая клетка, то просто займите новое положение"
      >
        <img src="/assets/help/game_move.gif" alt="">
      </a>
      <a class="spotlight" href="/assets/help/game_capture_castle.gif"
      data-title="Действие 'передвинуться на соседнюю клетку'"
      data-description="Если это пустой замок, то нужно сформировать отряд для защиты замка"
      >
        <img src="/assets/help/game_capture_castle.gif" alt="">
      </a>
    </div>
    <div class="my-group">
      <a class="spotlight" href="/assets/help/game_attack_castle.gif"
      data-title="Действие 'передвинуться на соседнюю клетку'"
      data-description="Если это замок другого игрока, то нужно сформировать отряд и напасть на игрока"
      >
        <img src="/assets/help/game_attack_castle.gif" alt="">
      </a>
      <a class="spotlight" href="/assets/help/game_attack_user.gif"
      data-title="Действие 'передвинуться на соседнюю клетку'"
      data-description="Если на этой клетке находится другой игрок, то нужно сформировать отряд и напасть на него"
      >
        <img src="/assets/help/game_attack_user.gif" alt="">
      </a>
    </div>
  </div>
  <p>
    В битве за замок участвуют отряд нападения и отряд защиты, который был оствален предыдущим игроком:
  </p>
  <ol>
    <li>В бою сравниваются суммарные силы отрядов, у кого больше тот и победил;</li>
    <li>Отряд победителя остаётся защищать замок;</li>
    <li>Отряд проигравшего игрока погибает;</li>
    <li>Если проигравший игрок, находился в замке, то он должен покинуть его, переместившись на свободную клетку рядом с замком.</li>
  </ol>
  <div class="spotlight-group">
    <a class="spotlight" href="/assets/help/game_attack_castle.gif"
    data-title="Действие 'передвинуться на соседнюю клетку'"
    data-description="Если это замок другого игрока, то нужно сформировать отряд и напасть на игрока"
    >
      <img src="/assets/help/game_attack_castle.gif" alt="">
    </a>
  </div>
  <p>
    В битве против другого игрока, нужно сформировать отряд нападения и отправить в бой:
  </p>
  <ol>
    <li>Соперник видит количество юнитов в нападающем отряде, и формирует свой отряд для защиты;</li>
    <li>В бою сравниваются суммарные силы отрядов, у кого больше тот и победил;</li>
    <li>После битвы уцелевшие юниты возвращаются к победителю;</li>
  </ol>
  <div class="spotlight-group my-group">
    <a class="spotlight" href="/assets/help/game_attack_user.gif"
    data-title="Действие 'передвинуться на соседнюю клетку'"
    data-description="Если на этой клетке находится другой игрок, то нужно сформировать отряд и напасть на него"
    >
      <img src="/assets/help/game_attack_user.gif" alt="">
    </a>
    <a class="spotlight" href="/assets/help/game_defense.gif"
    data-title="Ответное действие на нападение"
    data-description="Соперник видит количество юнитов в нападающем отряде, и формирует свой отряд для защиты"
    >
      <img src="/assets/help/game_defense.gif" alt="">
    </a>
  </div>
  <h4>Раунд</h4>
  <p>
    Раунд заканчивается, когда каждый игрок сделал свой ход.
    В конце раунда теряется очко эпохи, когда все 4 очка эпохи потеряны наступает новая эпоха
    (достаётся карта из колоды эпох). В колоде эпох можно встретить одну из следующих карт:
  </p>
  <ul>
    <li>Эпоха лучников. Каждый лучник получает +1 к боевой мощи.</li>
    <li>Эпоха мечников. Каждый мечник получает +1 к боевой мощи.</li>
    <li>Эпоха всадников. Каждый всадник получает +1 к боевой мощи.</li>
    <li>Темная эпоха. Боевых бонусов нет. Игра заканчивается, когда достаётся три карты «Тёмная эпоха».</li>
    <li>Новый век. Максимальный размер войска увеличивается на 2 юнита.</li>
    <li>Боевое усиление. Каждый игрок берёт нового боевого юнита из колоды усилений. Войско не должно превышать максимальное значение данного века. Базовое значение - 6, но может быть увеличено до 12.</li>
    <li>Засуха. Каждый игрок теряет самого слабого боевого юнита из войска.</li>
    <li>Пустая карта. Ничего не происходит.</li>
  </ul>
  <div class="spotlight-group">
    <a class="spotlight" href="/assets/help/game_start_new_period_1.gif"
      data-title="Потеря очков эпохи"
      data-description="Синие кружочки обозначают очки эпохи. Когда гаснет последний кружочек, берётся карта новой эпохи."
    >
      <img src="/assets/help/game_start_new_period_1.gif" alt="">
    </a>
  </div>
  <h4>Конец игры</h4>
  <p>Игра заканчивается в одном из двух случаев:</p>
  <ul>
    <li>Если вышли все карты «Темная эпоха»; Побеждает тот, кто владеет большим количеством замков.</li>
    <li>Если один игрок захватил все замки.</li>
  </ul>
  <div class="spotlight-group my-group">
    <a class="spotlight" href="/assets/help/win_all_castles.gif"
      data-title="Один из способов победы"
      data-description="Игрок захватил все замки и стал победителем"
    >
      <img src="/assets/help/win_all_castles.gif" alt="">
    </a>
    <a class="spotlight" href="/assets/help/win_three_dark_periods.gif"
      data-title="Один из способов победы"
      data-description="Вышли все карты «Темная эпоха»; Игрок с ником 0002 владел 3-ме замка из 5"
    >
      <img src="/assets/help/win_three_dark_periods.gif" alt="">
    </a>
  </div>

  <h5><a href="/assets/Castles.pdf">Скачать инструкцию (PDF)</a></h5>
  <div class="spotlight-group">
    <h5 *ngFor="let image of startGame; let i = index;">
      <a class="spotlight" href="{{image.src}}" data-title="{{image.description}}">
        {{i === 0 ? 'Как начать играть?' : ''}}
      </a>
    </h5>
  </div>

</section>

