html {
  height: 100%;
}
body {
  min-width: 970px;
  min-height: 100%;

  @include mobile {
    min-width: $xxs;
  }

  @include mobile-browser {
    min-width: auto;
  }
}
.btn {
  padding-left: 18px;
  padding-right: 18px;
  text-transform: uppercase;
}

label {
  text-transform: uppercase;
}

.btn:focus, .btn.focus {
  box-shadow: none !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
}

@include mobile {
  h1, .h1 {
    font-size: 1.4rem !important;
    line-height: 1.45rem !important;
  };
  h2, .h2 {
    font-size: 1.3rem !important;
    line-height: 1.35rem !important;
  };
  h3, .h3 {
    font-size: 1.2rem !important;
    line-height: 1.25rem !important;
  };
  h4, .h4 {
    font-size: 1.1rem !important;
    line-height: 1.15rem !important;
  };
  h5, .h5 {
    font-size: 1rem !important;
    line-height: 1rem !important;
  };
  h6, .h6 {
    font-size: 1rem !important;
    line-height: 1rem !important;
  };

  small, .small {
    font-size: 9px !important;
    line-height: 9px !important;
  }

  // p {
  //   font-size: 12px !important;
  //   line-height: 12px !important;
  //   margin-bottom: 0.2rem !important;
  // }
}


.container {
  min-width: 940px;

  @include smallscreen {
    max-width: 1140px;
  }
  @include tablet {
    max-width: 960px;
  }
  @include mobile {
    max-width: none;
  }
}

.navbar {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar-nav {
  flex-direction: row;
}

@include mobile {

  .no-mobile {
    display: none !important;
  }

  .full-screen-modal {
    height: 100% !important;
  }

  .mat-dialog-container {
    padding: 10px 20px !important;

    p {
      margin-bottom: 0.5rem;
      font-size: 12px;
      line-height: 12px;
    }
  }

  .mat-dialog-title {
    margin: 0 0 4px !important;
  }

  .mat-dialog-actions {
    padding: 4px 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    align-items: center;
    margin-bottom: -24px;
  }
}
